name: Pull Requests

on:
  push:
    branches:
      - v4
  pull_request:
    branches:
      - v4

permissions:
  contents: read
  pull-requests: read

env:
  GO_VERSION: stable

jobs:
  build:
    strategy:
      matrix:
        dir: [".", "example"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Build
        run: go build -v ./...
        working-directory: ${{ matrix.dir }}

      - name: Test
        run: go test -v ./...
        working-directory: ${{ matrix.dir }}

  lint:
    strategy:
      matrix:
        dir: [".", "example"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          working-directory: ${{ matrix.dir }}
